<h3>Home Edits</h3>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.profiles.name" />
  <button class="btn-mini">Update</button>
  <span>Name</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.slogan" />
  <button class="btn-mini">Update</button>
  <span>Slogan</span>
</form>
<br/>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.flagTitle" />
  <button class="btn-mini">Update</button>
  <span>Flag Title</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.flagText"></textarea>
  <button class="btn-mini">Update</button>
  <span>Flag Text</span>
</form>
<br/>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.starTitle" />
  <button class="btn-mini">Update</button>
  <span>Star Title</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.starText"></textarea>
  <button class="btn-mini">Update</button>
  <span>Star Text</span>
</form>
<br/>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.gemTitle" />
  <button class="btn-mini">Update</button>
  <span>Gem Title</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.gemText"></textarea>
  <button class="btn-mini">Update</button>
  <span>Gem Text</span>
</form>
<br/>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.piperTitle" />
  <button class="btn-mini">Update</button>
  <span>Piper Title</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.piperText"></textarea>
  <button class="btn-mini">Update</button>
  <span>Piper Text</span>
</form>
<br>
<br>