<h3>Contact Edits</h3>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.streetAddress" />
  <button class="btn-mini">Update</button>
  <span>Street Address</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.cityStateZip" />
  <button class="btn-mini">Update</button>
  <span>City, State & Zip</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.phone" />
  <button class="btn-mini">Update</button>
  <span>Phone</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.email" />
  <button class="btn-mini">Update</button>
  <span>Email</span>
</form>

<br>
<br>